body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    width: 95%;
    margin: auto;
    display: flex;
}

.container h1{
    color: white;
}

.container img {
    width: 100px;
}

.header {
    background-color: #0466C8;
}

.header .container{
    justify-content: space-between;
}


.navbar {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar button {
    border: none;
    width: 7vw;
    padding: 10px;
    margin-left: 30px;
    background-color: #33415C;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
}

.navbar .now{
    text-decoration: underline 3px;
}

.bem_vindo {
    display: flex;
    height: 50vh;
    width: 50%;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.bem_vindo b{
    color: #f39f2a;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;
}


.info h1 {
    padding-bottom: 10vh;
}

.info .lista{
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

.info .lista div{
    display: flex;
    flex-direction: column;
}

.info .lista img{
    width: 100px;
}

.sobreN {
    display: flex;
    padding-bottom: 30vh;
}

.sobreN .texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobreN p{
    width: 50%;
}

.sobreN img{
    width: 90%;
}

.equipe {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30vh;
}

.equipe .grupo{
    display: flex;
    justify-content: space-around;
}

.equipe .grupo img{
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 100%;
}

.equipe .grupo h4{
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #33415C;
}

.footer .sigam {
    background-color: #001233;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .sigam .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 20px;
}

.footer .sigam a {
    text-decoration: none;
}

.footer .sigam img {
    width: 40px;
}

/* LOGIN */

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 500px;
    margin-top: 0px;
    background-color: #2b78c5c9;
    border-radius: 10px;
    font-weight: 600;
}

.card input{
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 3px;
}

.card button {
    height: 30px;
    width: 100px;
    background-color: #0466C8;
    font-weight: 750;
    
}

.faixa{
    background-color: #0466c853;
    margin-top: 45px;
    border-radius: 5px;
    height: 100px;
    width: 500px;
}

.cadastrese {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 55px;
    margin-left: 160px;
    font-size: medium;
    margin-right: 50px;
}

.cadastrese button {
    align-items: end;
    margin-left: 8px;
    font-size: small;
    height: 30px;
    width: 100px;
}