body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 254, 255);

}

.container {
    width: 95%;
    margin: auto;
    display: flex;
}

.container h1 {
    color: white;
}

.container img {
    width: 100px;
}

.header {
    background-color: #0466C8;
}

.header .container {
    justify-content: space-between;
}


.navbar {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar button {
    border: none;
    width: 7vw;
    padding: 10px;
    margin-left: 30px;
    background-color: #33415C;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
}

.navbar .now {
    text-decoration: underline 3px;
}

.bem_vindo {
    display: flex;
    height: 50vh;
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
    background-color: #001233;
    color: white;
}

.bem_vindo div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bem_vindo b {
    color: #f39f2a;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;

}


.info h1 {
    padding-bottom: 10vh;
}

.info .lista {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.info .lista div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}

.info .lista img {
    width: 100px;
}

.sobreN {
    display: flex;
    padding-bottom: 30vh;
    color: white;
    background-color: #33415C;
}

.sobreN .texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobreN p {
    width: 50%;
}

.equipe {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30vh;
}

.equipe .grupo {
    display: flex;
    justify-content: space-around;
}

.equipe .grupo img {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 100%;
}

.equipe .grupo h4 {
    display: flex;
    justify-content: center;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #001233;
}

.footer .sigam {
    background-color: #001233;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .sigam .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 20px;
}

.footer .sigam a {
    text-decoration: none;
}

.footer .sigam img {
    width: 40px;
}

/* LOGIN */

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 355px;
    width: 400px;
    margin-top: 0px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.card input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.card button {
    height: 30px;
    width: 100px;
    background-color: #33415C;
    font-weight: 750;
    color: white;
    border: none;

}

.faixa {
    margin-top: 45px;
    border-radius: 5px;
    height: 100px;
    width: 500px;
}

.cadastrese {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.cadastrese a {
    text-decoration: none;
    color: white;
}

.bodyLogin {
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
}

/* CADASTRO */

.bodyCadastro {
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
}

.formboxCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.cardCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 530px;
    width: 400px;
    margin-top: 1px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.cardCadastro input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.cardCadastro button {
    height: 30px;
    width: 100px;
    background-color: #33415C;
    font-weight: 750;
    color: white;
    border: none;

}

/* CADASTRO EMPRESA */

.bodyCadastroEmpresa {
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
}

.formboxCadastroEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.cardCadastroEmpresa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    width: 800px;
    margin-top: 0px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.cadastroInfo {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 120px;
}

.cadastroEndereco {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 180px;
    margin-right: 50px;
}

.cardCadastroEmpresa input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.cardCadastroEmpresa .botao button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    flex-wrap: wrap;
}

.cardCadastroEmpresa .botao button {
    height: 30px;
    width: 100px;
    background-color: #33415C;
    font-weight: 750;
    color: white;
    border: none;

}

/*calculadora*/

.simulacao-css .info {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0;
}
.simulacao-css .h3_title {
    font-size: 50px;
}

.simulacao-css .info input {
    padding: 4px;
    border-radius: 10px;
    border: #0466C8 2px solid;
}

.simulacao-css {
    display: flex;
    justify-content: space-between;
}

.simulador {
    padding: 0;
    padding-top: 5vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: #0466C8 solid 100px;
}

.simulador button {
    border: none;
    width: 150px;
    height: 40px;
    padding: 3px;
    border-radius: 10px;
    font-size: medium;
    background-color: #0466C8;
    color: white;
}