body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 254, 255);

}

.help {
    margin-left: 90vw;
    margin-top: 80vh;
    position: fixed;
}

.help a{    
    width: 100%;
    padding-right: 2vh;
    padding-bottom: 2vh;
}

.help img{
    width: 65%;
}

.container {
    width: 95%;
    margin: auto;
    display: flex;
}

.container h1 {
    color: white;
}

.container img {
    width: 100px;
}

.header {
    background-color: #0466C8;
}

.header .container {
    justify-content: space-between;
}


.navbar {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar button {
    border: none;
    width: 7vw;
    padding: 10px;
    margin-left: 30px;
    background-color: #33415C;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
}

.navbar .now {
    text-decoration: underline 3px;
}

.bem_vindo {
    display: flex;
    height: 50vh;
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #001233;
    color: white;
}

.bem_vindo div {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bem_vindo b {
    color: #f39f2a;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;

}


.info h1 {
    padding-bottom: 10vh;
}

.info .lista {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.info .lista div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
}

.info .lista img {
    width: 100px;
}

.resultado {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.descricao_analise {
    display: flex;
    margin-left: 92px;
}

.sobreN {
    display: flex;
    flex-direction: column;
    padding-bottom: 30vh;
    justify-content: center;
    color: white;
    background-image: linear-gradient(#33415C,#33415C, #0466C8) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sobreN .texto {
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-bottom: 30vh;
    margin-top: 85px
}

.descricao {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    font-size: large;

}

.sobreN .perguntas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sobreN .perguntas h2{
    display: flex;
    justify-content: center;
}

.sobreN .perguntas h1{
    padding-bottom: 9vh;
    margin-top: 0px;
}

.sobreN .perguntas span{
    display: flex;
    justify-content: center;
}

.sobreN .perguntas p{
    width: 100%;
}

.sobreN .perguntas img{
    width: 22%;
    padding-left: 3vw;
}

.sobreN p {
    width: 50%;
    
} 

.sobreN h1{
    display: flex;
    justify-content: center;
}

.caixa {
    display: flex;
    justify-content: center;
    background-color: #979dacb6;
    flex-direction: column;
    height: 250px;
    width: 620px;
    border-radius: 8px;
}

.caixa h2 {
    display: flex;
    margin-left: 5px;
}

.caixa span {
    display: flex;
    margin-left: 5px;
}

.caixas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.equipe {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10vh;
}

.equipe .grupo {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}

.container_equipe {
    display: flex;
    justify-content: center;
}

.nossa_equipe {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.equipe .grupo img {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 100%;
}

.equipe .grupo h4 {
    display: flex;
    justify-content: center;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #001233;
}

.footer .sigam {
    background-color: #001233;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .sigam .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 20px;
}

.footer .sigam a {
    text-decoration: none;
}

.footer .sigam img {
    width: 40px;
}

/* LOGIN */

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    height: 80vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 355px;
    width: 400px;
    margin-top: 0px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.card input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.card button {
    height: 30px;
    width: 100px;
    background-color: #33415C;
    font-weight: 750;
    color: white;
    border: none;

}

.faixa {
    margin-top: 45px;
    border-radius: 5px;
    height: 100px;
    width: 500px;
}

.cadastrese {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.cadastrese a {
    text-decoration: none;
    color: white;
}

/*cadastro e login*/

.bodyCadastroLogin {
    height: 110vh;
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
}

/* CADASTRO */

.texto-cadastro {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
}

.formboxCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.elements{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.elements .dados1 {
    display: flex;
    flex-direction: column;
    
}

.elements .dados2 {
    display: flex;
    flex-direction: column;
}

.elements .dado3 {
    display: flex;

    justify-content: start ;
}


.arrow-left {
    width: 33px;
    height: 33px;
    border: 3px solid #ffffff;
    border-left: 0;
    border-top: 0;
    margin-top: 4px;
    transform: rotate(135deg);
    float: left;
}

.voltar{
    margin-top: 10px;
    margin-left: 50px;
}

.voltar a{
    text-decoration: none;
    color: white;
    font-size: 38px;
}

.cardCadastro {
    width: 510px;
    height: 549px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.cardCadastro input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.cardCadastro a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardCadastro button {
    height: 40px;
    width: 100px;
    background-color: #33415C;
    font-weight: 800;
    color: white;
    border: none;
}

.butao {
    margin-top: 5px;
}



/* CADASTRO EMPRESA */

.bodyCadastroEmpresa {
    background-image: url(../assets/back-ground/back-ground-login.jpg);
    background-size: cover;
}

.formboxCadastroEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.cardCadastroEmpresa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 800px;
    margin-top: 0px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.cadastroInfo {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* margin-left: 120px; */
}

.cadastroEndereco {
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* margin-left: 180px;
    margin-right: 50px; */
}

.cardCadastroEmpresa input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.cardCadastroEmpresa .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;
    width: 100%;
    /* background-color: #33415C; */
    font-weight: 750;
    color: white;
    border: none;
    /* margin-left: 16px;
    margin-top: 43px; */
} 
.cardCadastroEmpresa .botao button{
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 39px;
    width: 158px;
    background-color: #33415C; 
    font-weight: 750;
    color: white;
    border: none;
    /* margin-left: 16px;*/
    margin-top: 43px; 
} 

/*calculadora*/

.simulacao-css .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60%;
    width: 50%;
}

.simulador main{
    border-radius: 4px;
}
.simulacao-css h3{
    font-size: 50px;
}

.simulacao-css .info input {
    padding: 4px;
    border-radius: 10px;
    border: #0466C8 2px solid;
}

.simulacao-css {
    display: flex;
    justify-content: space-between;
}

.simulador {
    padding: 0;
    padding-top: 5vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: #0466C8 solid 50px;
}

.simulador button {
    border: none;
    width: 150px;
    height: 40px;
    padding: 3px;
    border-radius: 10px;
    font-size: medium;
    background-color: #0466C8;
    color: white;
}

/* CADASTRO NOVO */

.formboxCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.cardCadastro_novo {
    display: flex;
    height: 600px;
    width: 850px;
    background-color: #979dacb6;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.coluna1 {
    margin-left: 105px;
    margin-top: 80px;
}

.coluna2{
    margin-left: 60px;
    margin-top: 1px;
    display: inline-block;
}

.coluna3{
    margin-left: 60px;
    margin-top: 79px;
    display: inline-block;
}

.cardCadastro_novo input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-top: 3px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.botao_cadastrar{
    height: 40px;
    width: 110px;
    margin-left: 33px;
    margin-top: 10px;
    background-color: #33415C;
    font-size: 16px;
    font-weight: 750;
    color: white;
    border: none;
}

.cardCadastro_novo h1{
    margin-left: 13px;
    
}