body{
    margin: 0;
    background-color: #5C677D;
    font-family: Arial, Helvetica, sans-serif;
}


/* DASHBOARD*/

.geral {
    display: flex;
}

.tela .navbar{
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.tela .navbar button{
    height: 20px;
}

.tela .navbar h1{
    color: white;
}

.user{
    background-color: #0353A4;
    display: flex;
    flex-direction: column;
    width: 14%;
    height: 100vh;
    position: fixed;
}

.user .profile {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user .profile p{
    color: white;
    font-size: 2vh;   
}

.user .profile .profileIcon{
    width: 20vh;
    height: 20vh;
    background-color: white;
    border-radius: 100%;
}

.user .profile .profileIcon img{
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
}

.user .funcoes{
    display: flex;
    width: 100%;
    flex-direction: column; 
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
}

.user .funcoes button{
    height: 10vh;
    width: 100%;
    color: white;
    font-size: 3vh;
    border: none;
    background-color: #023E7D;
}

.user .funcoes button:hover{
    transition: 1s;
    background-color: #0466C8;
    cursor: pointer;
}

.subContent{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tela {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.tela .grafico {
    display: flex;
    width:  100%;
    margin-top: 5vh;
}

.tela .grafico .descri{
    margin: 5px;
}

.tela .grafico .card{
    width: 93%;
    border-radius: 15px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
